<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User Info</title>
</head>
<body>
    <h1>User {{ cfriend['id'] }}</h1>
    <a href='/users'>Home</a>
    <h3>Full Name: {{ cfriend ['firstname'] }} {{ cfriend['lastname'] }}</h3>
    <h3>Email: {{ cfriend['email'] }}</h3>
    <h3>Created On {{ cfriend['created_at'] }}</h3>
    <h3>Last Updated On {{ cfriend['updated_at'] }}</h3>

    <a href= "/users/{{cfriend['id']}}/edit">Edit</a>
    <a href= "/users/{{ cfriend['id'] }}/delete/">Delete</a>
</body>
</html>